<div class='left'>
<h2>Movie reviews</h2>
{{add-movie}}
  {{#if model}}
    {{#each model as |movie|}}
      <div class='movie'>
        {{#link-to 'movies.movie' movie}}
        <h2 class='card-movie-title'>{{movie.title}} </h2>
        {{/link-to}}

      </div>
    {{/each}}
    {{else}}
      <p class='no-movies'>
        You have not added any movies. Please add some!
      </p>
  {{/if}}
</div>


{{outlet}}
